<%- include('partials/head.ejs') %>

<div class="about">
    <p>Este sitio web fue diseñado y desarrollado por alumnos del 5°F del Centro Educativo Polimodal n°4, como parte de un Trabajo Práctico de las materias Proyecto de Sistemas Informáticos y Análisis y Diseño de Aplicaciones.</p>
    <p>En el mismo se puede encontrar información que fue obtenida desde el libro "Educación Vial: La Primera Licencia de Conducir". En él se encuentra material que fue analizado, resumido y compactado en las diferentes páginas que posee el sitio.</p>
    <p>El sitio está desarrollado en código desde cero por los alumnos, haciendo uso de código de programación (involucrando HTML, CSS y Javascript). Además, se hace uso de material público como la fuente "Encode", disponible en Google Fonts e iconos provenientes del sitio "Font Awesome".</p>
    <h2>Participantes del Proyecto</h2>
    <p>Los alumnos involucrados en el proyecto son los siguientes: </p>
  </div>
 
  <div class="alumnos">
    <div class="card">
      <div class="image">
        <img src="./img/integrantes/gonza.jpg" alt="Fotografía del Integrante del Grupo">
        <h3>Gonzalo Tomás Dos Santos</h3>
        <p>Encargado del diseño y desarrollo del sitio, desde la parte estética hasta el código.</p>
        <p class="ig">
          <a href="https://instagram.com/gonza__doss" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="./img/integrantes/lauti.jpg" alt="Fotografía del Integrante del Grupo">
        <h3>Lautaro Joaquín Dávila</h3>
        <p>Encargado de la códificación HTML de las diferentes partes del sitio web.</p>
        <p class="ig">
          <a href="https://instagram.com/lautiidav" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="./img/integrantes/maxi.jpg" alt="Fotografía del Integrante del Grupo">
        <h3>Maximiliano Lentini</h3>
        <p>Encargado de resumir y compactar el material disponible en el libro de estudio, además de ayuda en la codificación.</p>
        <p class="ig">
          <a href="https://instagram.com/maxi_lentini3655" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="./img/integrantes/gaston.jpg" alt="Fotografía del Integrante del Grupo">
        <h3>Gastón Nicolás Aranda</h3>
        <p>Encargado de buscar material extra para el sitio, como videos de Youtube o diferentes imágenes y ayuda en codificación. <br>
        </p>
        <p class="ig">
          <a href="https://instagram.com/gast_on7" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
 </div>
</p>

<%- include('partials/footer.ejs') %>
