<%- include('partials/head.ejs')%>

<div class="box">
    <section>
      <div class="table-of-contents" id="tabla">
        <h2>Tabla de Contenidos</h2>
        <nav class="site-nav">
          <a href="#conducciones-psicofisicas">Conducciones psicofisicas del conductor</a>
          <a href="#la-vista">La vista</a>
          <a href="#conducir-de-noche">Conducir de noche: riesgos y ventajas</a>
          <a href="#regla-de-oro">Regla de oro para conducir de noche</a>
          <a href="#el-oido">El oído</a>
          <a href="#conduccion-capacidades-diferentes">La conducción con capacidades diferentes</a>
          <a href="#factores-condiciones-fisicas">Factores que afectan las condiciones físicas</a>
          <a href="#cansancio">Cansancio</a>
        </nav>
      </div>
    </section>
    <section class="content">
      <article>
        <p>El factor humano es una de las principales causas de siniestros viales. Por eso, es parte de a conducción responsable evaluar si nuestro estado físico y mental es adecuado a la hora de conducir el vehículo.</p>
        <h2 id="la-vista">La vista:</h2>
        <img src="./img/condiciones-psicofisicas/condiciones-psicofisicas-1.png" alt="La Vista">
          <p>La vista es uno de los sentidos más importantes para el desarrollo de una condución segura. Es importante que el conductor ogre ver "con e rabilo de los ojos" para obtener la llamada visión periférica, quer permite la observación lateral sin la pérdida de visión frontal. Este tipo de visión permite percibir todo tipo de imprevistos a cualquier lado del automóvil. Si es necesario ver a los lados con mayor profundidad, se deben utilizar los distintos espejos (retrovisor frontal y lateales).</p>
          <p>En la conducción responsable es muy importante poder estimar distancias y velocidades. Es primordial poder saber a qué distancia nos encontramos de otros vehículos y evaluar espacios seguros en situaciones de acercamiento o sobrepaso a terceros en caminos de dos carriles.</p>
        <h2 id="conducir-de-noche">Conducir de noche: riesgos y ventajas:</h2>
          <p>Riesgos:<br>
        Hay que tener en cuenta todos los riesgos que existen al circular por la noche. Principalmete, el conductor pierde agudeza visual y disminuye su campo de visión, por lo que cuesta más interpretar correctamente las señales. Además, la oscuridad puede ocultar peligros que son visibles a la luz del día, por lo que hay que circular con una mayor precaución. La aparición d cansancio y fatiga se produce principalmente entre las 4 y las 6 de la mañana, cuando baja nuestro nivel de alerta.</p>
         <p>Ventajas:<br>
        A pesar de estos hechos, hay personas que prefieren circular de noche por la menor densidad de tráfico, para conducir más relajados y para mantener una velocidad más constante. Pero, para conducir de noche, el conductor debe tener en cuenta ciertos factores: encontrarse en buen estado físico y psíquico (sin cansancio ni dolencias), el vehículo debe estar en buen estado y el viaje debe ser planificado con tiempo: se deben conocer perfectamente el itinerario, la localización de las áreas de descanso, las condiciones meteorológicas, el estado de las carreteras, etc.</p>
        <h2 class="breakPoint" id="regla-de-oro">Reglas de oro para conducir de noche:</h2>
         <ol>
             <li>Reducir la velocidad: debemos ser capaces de parar totalmente el vehículo dentro del campo de ilumnación de los faros. En ruta, la velocidad máxima recomendada es de 90 kilómetros por hora.</li>
             <li>Mantener la distancia de seguridad.</li>
             <li>Aumentar la frecuencia de mirada por los retrovisores: al menos, debemos mirar cada diez segundos.</li>
             <li>Aumentar la frecuencia de las paradas: se debe parar para descansar las piernas y limpiar bien los cristales para que no se entorpezca nuestra visión.</li>
             <li>Parar si aparecen síntomas de fatiga: ingerir algún alimento o bebida energizante.</li>
             <li>Oarar su aparecen síntomas de somnolencia: descansar unos 20 minutos y tomar algún café o bebida estimulante y, si estamos muy cansados, dormir.</li>
             <li>En ruta, donde no haya posibilidad de deslumbrar a otros vehículos, utilizar las luces altas en lugar de las bajas, así aumentará la percepción noctura.</li>
             <li>Quitar las luces altas en adelantamientos: para que no existen riesgos de deslumbramiento; si nos cruzamos con otro vehículo, se deben quitar las luces altas y se pondrán las bajas.</li>
             <li>Reducir la intensidad de la luz del cuadro de instrumentos: cuanta más luz haya en el interior, peor se ve en el exterior.</li>
         </ol>
        <h2 id="el-oido">El oído:</h2>
          <p>Poseer una buena audición es tan necesario como una buena visión, ya que se pueden prevenir siniestros de tránsito a través de bocinas, campanillas de paso a nivel y chirridos de neumáticos entre otros sonidos. Por estas razones se recomienda, además del examen psicofísico, evitar escuchar música a volúmenes altos y hablar por celular mientras se conduce.</p>
        <h2 id="conduccion-capacidades-diferentes">La conducción con capacidades diferentes:</h2>
         <p>Las personascon capacidades diferentes también pueden conducir un vehículo. Entendemos por conductor con capacidades diferentes a aquellas personas que presentan alguna disminución particular del aparato locomotor, básicamente de las extremidades, y que le impide el manejo usual de os mandos y palancas que se utilizan habitualmente para la condución de los vehículos a motor.<br>
        Para que estas personas puedan conducir correctamente <b>se deben efectuar modificaciones y/o adaptaciones en los vehículos, que deben homologadas</b> y sólo pueden ser realizadas por talleres autorizados y personas especializado, a fin de permitir la conducción con seguridad.</p>
        <h2 id="factores-condiciones-fisicas">Los factores que afectan las condiciones físicas:</h2>
         <p>El cansancio, el consumo de alcohol o de medicamentos y el uso del télefono celulares son factores que afectan nuestras condiciones físicas y, por consiguiente, impiden conducir responsablemente.</p>
        <h3 id="cansancio">El cansancio:</h3>
         <p>Para conducir de modo responsable las personas debemos estar descansadas debido a que el cansacion provoca falta de visión y disminuye la capacidad de reacción para tomar las decisiones adecuadas en las diversas maniobras que se pueden presentar. Un conductor cansado no toma buenas decisiones y pone en peligro su vida y la d los demás.<br>
        Consejos para evitar el cansancio en viajes de larga distancia:</p>
        <ul>
            <li>Antes de salir de viaje, dormir adecuadamente la noche anterior.</li>
            <li>No salir de viaje cansado.</li>
            <li>No tomar medicamentos que provoquen somnolencia.</li>
            <li>No comer demasiado o no comer alimentos de difícil digestión, debido a que provoca sueño.</li>
            <li>Tomar pausas para descansar. Parar cada hora, aproximadamente, o tomar un descanso en caso considerarlo necesario. Un descanso de pocos minutos pued salvar la vida. Tomarse el tiempo suficiente para completar el viaje con seguridad.</li>
            <li>En caso de tener sueño, no seguir conduciendo.</li>
            <li>Alternar la conducción con otras personas para descansar.</li>
        </ul>
        
      </article>
    </section>
  </div>

<%- include('partials/footer.ejs') %>