<%- include('partials/head.ejs')%>

<div class="box">
    <section>
      <div class="table-of-contents" id="tabla">
        <h2>Tabla de Contenidos</h2>
        <nav class="site-nav">
          <a href="#conceptos-asociados">Conceptos asociados y principales reglas para la conduccion eficiente</a>
          <a href="#conduccion-eficiente">La conduccion eficiente</a>
          <a href="#encendido-del-motor">El encendido del motor</a>
          <a href="#inicio-de-marcha">Inicio de la marcha</a>
          <a href="#velocidad-de-conduccion">La velocidad de conduccion</a>
          <a href="#cambios-de-velocidad">Los cambios de velocidad</a>
          <a href="#realizacion-de-cambios">Realizacion general de los cambios de velocidad</a>
          <a href="#primera-marcha">La primera marcha</a>
          <a href="#quinta-marcha">La quinta marcha</a>
          <a href="#cambio-de-marchas">El cambio de marchas</a>
          <a href="#freno-del-motor">El freno de motor y las reducciones de marchas</a>
          <a href="#cambios-de-marchas">Cambios de marchas con caja de cambios automatica</a>
          <a href="#maquina-consumo">El automovil como máquina de consumo</a>
          <a href="#combustible">El combustible</a>
          <a href="#trasmision-energia">La trasmisión de energía</a>
          <a href="#aprovechamiento-energetico">El aprovechamiento energético en el motor</a>
          <a href="#caracteristicas-vehiculo">Características generales del vehiculo</a>
          <a href="#uso-combustible">Uso del combustible y medio ambiente</a>
          <a href="#consumo-energia">Consumo de energía</a>
          <a href="#mantenimiento-preventivo">Mantenimiento preventivo</a>
          <a href="#carga-vehiculo">La carga del vehiculo</a>
        </nav>
      </div>
    </section>
    <section class="content">
      <article>
        <img src="./img/conduccion-eficiente/conduccion-eficiente-1.png" alt="Conducción Eficiente">
        <p id="conduccion-eficiente">
          Además de una conducción responsable, cada vez se hace más necesaria la implementación de una conducción eficiente, es decir, la adopción de nuevas y sencillas técnicas que promuevan la reducción de la contaminación ambiental, el aumento del confort, el ahorro de combustible y la disminución de costos de mantenimiento del vehículo. El desarrollo sostenible también es un tema que debemos abordar desde la educación vial. 
        </p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3xl3NrpMtfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>La conducción eficiente es menos agresiva que otras y promueve la disminución del estrés para el conductor y la reducción de siniestros viales. Además, permite optimizar ciertas técnicas, como por ejemplo, la disminución del número de cambios de velocidad. <br> Para este tipo de conducción se recomienda:</p>
        <ul>
            <li>Circular con el cambio de velocidad lo más alta posible. </li>
            <li> Mantener la velocidad de circulación lo más uniforme posible.</li>
            <li>En los procesos de aceleración, cambiar de velocidad: <br>
              Entre 2.000 y 2.500 revoluciones en los motores a nafta. <br>
              Entre 1.500 y 2.000 en los motores diesel. </li>
            <li>En los procesos de desaceleración, reducir de marcha lo más pausadamente posible. </li>
            <li> El conductor debe prever y anticipar sus maniobras y lo que pudiera suceder en su entorno.</li>
        </ul>
        <p>Esta sencilla actuación incrementa la eficacia de las técnicas de la conducción eficiente en el ahorro de combustible y logra conservar la actitud de prudencia evitando que se pierda con el transcurso del tiempo. También resulta útil a la hora de detectar y ubicar desperfectos al advertir variaciones significativas de consumo. </p>
        <h2 id="encendido-del-motor">El encendido del motor</h2>
        <p>
          En el marco de la conducción eficiente, desde el punto de vista mecánico y del consumo, es conveniente que encendamos el motor sin acelerar. En un automóvil moderno se realizan de forma automática todos los preparativos necesarios para el arranque del vehículo. Por lo tanto, la costumbre de acelerar cuando se enciende el motor sólo sirve para desajustar la regulación electrónica y restar rendimiento a la operación del arranque. 
        </p>
        <h2 id="inicio-de-marcha" class="breakPoint">Inicio de Marcha</h2>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/mlF_Czstj8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
          Una vez que encendemos el motor la marcha se inicia:
        </p>
        <ul>
            <li>En los vehículos propulsados por nafta inmediatamente después de
              arrancar el motor. Esperar detenido, con el motor encendido no
              aporta ninguna ventaja, ya que ralentiza o atrasa el calentamiento
              del motor. </li>
            <li>En los automóviles diesel es conveniente esperar unos segundos
              antes de comenzar la marcha para lograr que llegue el aceite en condiciones adecuadas a la zona de lubricación. </li>
        </ul>
        <h2 id="velocidad-de-conduccion">Velocidad de conduccion</h2>
        <p>
          Desde el punto de vista de la conducción eficiente y responsable,
          debemos atender a varios factores: el estado de la calle, la velocidad permitida, la intensidad de tráfico de ese momento, las condiciones climáticas, etc.
          En este sentido, debemos considerar cuándo y cómo realizar los
          cambios de velocidad. 
        </p>
        <img src="./img/conduccion-eficiente/conduccion-eficiente-2.png" alt="Velocidad de Conduccion">
        <h2 id="cambios-de-velocidad">Cambios de velocidad</h2>
        <p>
          A los fines de lograr la conducción eficiente, una vez iniciada la marcha, cuando aceleramos, las revoluciones aumentan y se hace necesario pasar a la marcha siguiente, tratando de alcanzar la marcha más
          larga. <br>
          Una de las maneras de controlar los cambios de velocidad es observar
          el cuentarrevoluciones. Si bien algunos automóviles no vienen provistos de este dispositivo, en la mayoría de ellos está ubicado en el tablero de mando. Si el vehículo no lo tuviese, el conductor debe realizar
          la conducción basándose en la velocidad y en su propia sensibilidad,
          es decir, “escuchando” el motor. <br>
          Otra forma equivalente de controlar el régimen de funcionamiento
          del motor, es mediante el indicador de velocidad ya que cada velocidad tiene asignadas las revoluciones adecuadas para su funcionamiento. 
        </p>
        <h2 id="realizacion-de-cambios">Realizacion general de los cambios de velocidad</h2>
        <p>
          Dependiendo del peso y carga del vehículo y de las condiciones contextuales del tráfico, en los procesos de aceleración, las modificaciones
          de velocidad se realizan cambiando de forma rápida hasta la velocidad
          más larga en la que se pueda circular según indica el cuadro:
        </p>
        <img src="./img/conduccion-eficiente/conduccion-eficiente-3.png" alt="Cuadro sobre cambios de marcha">
        <h2 id="primera-marcha">La primera marcha</h2>
        <p>
          Para comenzar a circular, se precisa de más fuerza o energía que para
          mantener el automóvil a una determinada velocidad. Esta velocidad
          es la más corta de todas y la que mayor fuerza transmite al vehículo.
          Pero, en contrapartida, es la que provoca un mayor consumo de combustible. En consecuencia, se debe acelerar de forma suave y progresiva para cambiar rápidamente a la 2ª velocidad, aproximadamente
          a los 2 segundos o a unos 6 metros del trayecto recorrido. <br>
          Una vez en movimiento, y a los fines de la conducción eficiente, es
          aconsejable realizar marchas largas o velocidades largas en el cambio
          correspondiente, ya que supone, según La cilindrara o potencia del
          vehículo, ahorro de combustible. A mayor cilindrada del motor, mayor
          consumo de combustible. 
        </p>
        <img src="./img/conduccion-eficiente/conduccion-eficiente-4.png" alt="Cuadro sobre cambios de marcha según velocidad">
        <h2 id="quinta-marcha">La quinta marcha</h2>
        <img src="./img/conduccion-eficiente/conduccion-eficiente-5.png" alt="La Quinta Marcha">
        <p>
          Si en la vía por la que transitamos está permitido circular a una velocidad media (velocidades que van desde los 50 km/h en
          vehículos de pequeña y media cilindrada
          hasta los 60 km/h en los de gran cilindrada)
          y hay una situación de tránsito fluido o despejado, se aconseja cambiar a la 5º marcha. Esto puede hacerse sin problemas,
          siempre que se vaya por encima de las
          1.500 revoluciones del régimen del motor
        </p>
        <h2 id="cambio-de-marchas">El cambio de marchas</h2>
        <p>Una vez que el vehículo está circulando en la 2º marcha y el proceso
          de aceleración se encuentra en el intervalo de revoluciones y/o velocidad indicado para el cambio, se puede realizar el cambio de diferentes formas, dependiendo de las condiciones del camino:</p>
      <ul>
          <li>Con tránsito fluido o despejado, en una vía que permita circular
              a una velocidad media, podemos cambiar a la 3º marcha y mantener la aceleración del vehículo hasta alcanzar la velocidad adecuada
              para luego cambiar a la 5º marcha.</li>
          <li>Si nos encontramos circulando con el vehículo en 2º marcha con
              el motor ya revolucionado y con una velocidad similar a la de las
              condiciones de circulación, debemos cambiar a la 4º. Este caso se
              puede presentar cuando la velocidad media de circulación en la vía
              es relativamente baja, o si hay un importante caudal de tránsito y
              se redujo la velocidad media. Si posteriormente la vía gana en velocidad media y se observa que se puede cambiar a la 5ª marcha,
              se debe realizar el cambio correspondiente.</li>
          <li>Cuando las situaciones de tránsito no nos permiten aumentar la
              velocidad debido a la congestión del mismo o a determinadas causas que produzcan una circulación a velocidad lenta, se recomienda
              continuar en la 2º marcha y, en cuanto se propasen las 2.000 revoluciones sin llegar a superar las 2.500, cambiar a la 3º marcha para
              consumir menor carburante. Luego, se puede cambiar a la 4º o a
              la 5º marcha, siempre y cuando las condiciones de circulación lo
              permitan</li>
      </ul>
      <h2 id="freno-del-motor">El freno del motor y las reducciones de las marchas</h2>
      <p>
          Al conducir un vehículo, y ante la necesidad de desacelerar por disminución de la velocidad o ante una posible detención, disponemos
          de dos tipos de frenos:
      </p>
      <ul>
          <li>El “freno motor“, el cual consiste en dejar rodar el vehículo por
              su propia inercia, con una marcha establecida y sin pisar el acelerador.</li>
          <li>El “freno de pie” para las pequeñas correcciones necesarias para
              acomodar la velocidad, o la detención final.</li>
      </ul>
      <h2 id="cambios-de-marchas">Cambios de marchas con caja de cambios automática</h2>
      <p>
          Algunos automóviles poseen cajas de cambios automáticas, que eligen la relación de marcha adecuada sin intervención del conductor,
          en función de las revoluciones del motor y de la posición del acelerador. <br>
          Existen muchos modelos de cajas de cambios automáticas. En algunas de ellas se tiene la opción de seleccionar la posición de conducción económica (ECO), la cual permite realizar una conducción
          eficiente. En esta posición el control de la caja regula los cambios de
          marcha siguiendo pautas similares a las explicadas para cajas de cambios manuales. <br>
          Muchas cajas de cambios automáticas modernas incorporan la opción de cambio manual con 4 o 5 marchas. En este caso, seleccionando la posición manual se puede realizar una conducción eficiente
          siguiendo las reglas explicadas para cajas manuales; y el consumo
          será normalmente menor que el obtenido con la posición automática.
      </p>
      <h2 id="maquina-consumo">El automovil como máquina de consumo</h2>
      <p>
          El motor un automóvil, ya sea de nafta o de gasoil (diesel), consume
          combustible enviado desde el depósito a través de una bomba. En los
          motores modernos la regulación del caudal es realizada por control
          electrónico, tomando como dato la posición del pedal del acelerador
          y otros datos de funcionamiento como las revoluciones y la temperatura del agua
      </p>
      <h2 id="combustible">
          El combustible
      </h2>
      <p>
          El motor de los automóviles necesita generar energía para funcionar.
          Uno de los modos más habituales de hacerlo es a partir de determinados combustibles como son el gasoil o la nafta. Los mismos se introducen al motor y en su interior realiza una reacción química de
          combustión. En los motores modernos, esta combustión es prácticamente completa y se genera dióxido de carbono y vapor de agua que
          salen por el tubo de escape. Sin embargo, hay pequeñas cantidades
          de otras sustancias que conforman emisiones contaminantes. El catalizador del tubo de escape tiene como objeto hacer que esas cantidades sean aún menores antes de llegar los gases a la atmósfera. Sin
          embargo, son cantidades suficientes para causar importantes problemas de contaminación. 
      </p>
      <p>
          Cada volumen de combustible consumido genera una cierta cantidad
          de energía en el motor (es el llamado poder calórico), pero las leyes
          de la física hacen que sólo un escaso porcentaje de esta energía llegue en forma de trabajo o potencia al eje de las ruedas para propulsar
          al vehículo. Es importante mencionar que el gasoil tiene aproximadamente un 13 % más de poder calórico que la nafta, siendo ésta una
          de las causas del menor consumo de los motores diesel (para la
          misma energía producida necesitan menos combustible).
      </p>
      <h2 id="trasmision-energia">La trasmisión de energía</h2>
      <p>La transmisión de la energía producida en el motor hasta las ruedas,
          que son las que propulsan el vehículo, se hace a través de la caja de
          cambios y el diferencial. ¿Qué es el diferencial? Es un elemento
          mecánico que permite que las ruedas derecha e izquierda de un vehículo giren a revoluciones diferentes, según éste se encuentre
          tomando una curva hacia un lado o hacia el otro.
          La caja de cambiostrasmite la potencia del motor hacia el diferencial
          y de éste a la rueda. Estos dos elementos se componen de engranajes
          bañados en aceite y, por lo tanto, consumen por rozamiento una pequeña parte de la energía que transmiten. <br>Además permite: </p>
          <ul>
              <li>Al conductor decidir qué revoluciones tiene el motor para la velocidad que el vehículo lleva en ese instante</li>
              <li>Que el motor pueda transmitir la máxima potencia a las ruedas a
                  diferentes velocidades y con ello obtener fuertes aceleraciones utilizando marchas cortas. </li>
              <li>Que el vehículo pueda circular a bajas revoluciones de motor, con
                  el consiguiente menor consumo, cuando no se demande alta potencia. </li>
          </ul>
      <h2 id="aprovechamiento-energetico">El aprovechamiento energético en el motor</h2>
      <p>
          Una vez que el combustible (nafta o gasoil) libera energía térmica a
          través de la combustión dentro de los cilindros del motor, esta energía
          se transforma en trabajo mecánico proporcionando el movimiento a
          las ruedas del vehículo. El aprovechamiento de la energía liberada por
          el combustible es relativamente bajo (del 38%). Este porcentaje es
          bastante menor cuando se circula por ciudades con frecuentes arranques y paradas. De la energía contenida en un litro de nafta, el 62%
          se pierde por fricción y calor en el motor.
          Esto sucede porque la potencia suministrada a la rueda del vehículo
          debe ser la necesaria para vencer sus resistencias al avance.
          La fuerza total de resistencia al avance del mismo es la suma de cuatro
          resistencias: 
      </p>
      <ul>
          <li>Resistencia de rodadura: es debida a la ligera deformación del
              neumático. Depende del peso del automóvil, del tipo de neumático,
              del tipo de pavimento y, sobre todo, de la presión de inflado del
              neumático.</li>
          <li>Resistencia por pendiente: depende del peso del automóvil y de
              la pendiente. Es positiva si la pendiente es ascendente, pero si la
              pendiente es descendente esta fuerza se hace negativa y es realmente impulsora en lugar de resistente. </li>
          <li> Resistencia por aceleración: según la ley de Newton, es el producto de la masa del vehículo por la aceleración (incremento de velocidad por unidad de tiempo). Cuando un automóvil está
              desacelerando esta fuerza se hace negativa y se convierte en impulsora en lugar de resistente. </li>
          <li>Resistencia aerodinámica: depende de las dimensiones del vehículo, de su forma (coeficiente Cx de resistencia aerodinámica), de
              la temperatura y presión del aire. También de la velocidad respecto
              al aire que le rodea.</li>
      </ul>
      <h2 id="caracteristicas-vehiculo">Caracteristicas generales del vehiculo</h2>
      <p>En la actualidad, los automoviles consumen cerca de un 25% menos que hace 20 años, y, en el caso de algunos modelos, menos de cinco litros cada 100 kilometros. Durante el año 2008, los fabricantes se comprometieron a reducir el consumo medio de los vehiculos en un 19% más. <br> La tecnología de los automoviles está evolucionando, permitiendo menor consumo de combustible y mayoires rendimientos. Sin embargo, la utilizacion de forma indebida de un vehiculo puede anular totalmente la eficiencia logrado con las mejores tecnológicas</p>

      <h2 id="uso-combustible">Uso de combustibles y medio ambiente</h2>

      <p>Sin dudas uno de los inconvenientes mas importantes suscitados por autos equipados con motores de combustión son la independencia a un insumo escaso y el proceso de agotamiento como son los derivados del petróleo (nafta y gasoil) y las consecuencias en el ambiente producto de los reciduos gaseosos de la combustión que contribuyen con el fenómeno del efecto invernadero, directamente ligado al calentamiento global. <br> Con la finalidad de reemplazar a los derivados del petróleo, en los últimos años se observa un continúo desarrollo de combustibles alternativos, también llamados "bio combustibles", como el etanol o el biodiesel, que se caracterizan por ser renovables al ser obtenidos a partir de productos agrícolas como la caña de azucar o la soja. Si bien representarían una alternativa ante el agotamiento de los recursos de órigen fósil, todavía persistiría sin resolver el aporte al efecto invernadero. Es por ello que, en la actualidad, la industria automotriz, se encuentra en un proceso de inovación caracterizado por la búsqueda de motores con otros principios de funcionamiento que ataquen ambas problemáticas. Algunas de estas tecnologías ya están disponibles en el mercado como lo son los vehículos híbridos, en menor medida los autos equipados con motores electricos o celdas de hidrógeno.</p>
      <h2 id="consumo-energia">Consumo de energía</h2>
      <p>En los automoviles de nuestros días existen diversos sistemas que permiten consumir más o menos energía. </p>
      <ul>
          <li>Los cambios automáticos convencionales ahorran esfuerzos al conductor pero a la vez consumen más que los cambios manuales. Sin embargo, los cambios automáticos de nueva generación intligentes y los de tipo CVT (relación variable) pueden llegar a consumir menos combustible.</li>
          <li> La utilización de turbocompresores aumenta la potencia y el
              rendimiento de los motores, aprovechando la energía de los
              gases de escape. </li>
          <li> La utilización óptima en los vehículos modernos del control
              electrónico del motor con gestión de la inyección y el encendido
              de acuerdo con los requerimientos de la marcha: posición del
              acelerador, régimen de giro, temperatura del motor, condiciones
              ambientales, etc., así como los parámetros de funcionamiento,
              en algunos casos, permite no sólo reducir el consumo de combustible, sino también reducir las emisiones contaminantes a los
              valores marcados por la legislación.</li>
      </ul>
      <h2 id="mantenimiento-preventivo">Mantenimiento preventivo</h2>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6_7yopeyIQ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>
          Otro factor que puede tener influencia en el consumo de combustible es
          el mantenimiento que le hagamos al vehículo. A pesar de que los automóviles actuales necesitan menos mantenimiento, es importante saber
          que cada cierto tiempo es necesario realizarles:
      </p>
      <ul>
          <li> La diagnosis computarizada de la central de control electrónico del
              motor para detectar averías ocultas que pudieran producir aumentos de
              gasto de combustible y emisiones contaminantes.</li>
          <li> El control de niveles y filtros para mantener un motor en condiciones
              óptimas. </li>
          <li> El control de la presión de los
              neumáticos, ya que la falta de presión en los neumáticos provoca
              que el vehículo ofrezca mayor resistencia a la rodadura y que el motor
              tenga que desarrollar una potencia
              superior para mantener en movimiento al vehículo. La falta de presión en los neumáticos aumenta el
              consumo de combustible y es, además, una causa importante de siniestros en las rutas.</li>
      </ul>
      <h2>La carga del vehículo</h2>
      <img src="./img/conduccion-eficiente/conduccion-eficiente-7.png" alt="La Carga del Vehiculo">
      <p>
          Otra variable que influye en el consumo es el peso del propio vehículo y
          sus ocupantes, sobre todo en los arranques y periodos de aceleración.
          Además de someter a un esfuerzo importante al motor, a las suspensiones y a los frenos, afecta a la seguridad y aumenta los gastos por mantenimiento y reparación. <br>
          Una distribución desequilibrada de la
          carga puede ofrecer mayor resistencia
          al aire e inestabilidad provocada por la
          disminución de adherencia del eje delantero. Asimismo, transportar equipaje u objetos en la superficie
          aumenta la resistencia al aire del vehículo y, por consiguiente, incrementa el
          consumo. 
      </p>
      </article>
    </section>
  </div>

<%- include('partials/footer.ejs') %>