<%- include('partials/head.ejs')%>

<div class="box">
    <section>
      <div class="table-of-contents" id="tabla">
        <h2>Tabla de Contenidos</h2>
        <nav class="site-nav">
          <a href="#conduccion">La conduccion</a>
          <a href="#circulacion-velocidad">Circulacion y velocidad</a>
          <a href="#conduccion-caravana">Conduccion en caravana</a>
          <a href="#conduccion-campo-visual">La conducción y el campo visual</a>
          <a href="#factores-que-afectan-campo-visual">Factores que afectan el campo visual</a>
          <a href="#transito">Transito</a>
          <a href="#estado-conductor">Estado físico del conductor</a>
          <a href="#velocidad">La Velocidad</a>
          <a href="#punto-ciego">Punto ciego</a>
          <a href="#distancia-de-seguridad">Distancia de Seguridad</a>
          <a href="#maniobras-de-circulacion">Maniobras Básicas de Circulación</a>
          <a href="#tipos-de-maniobras">Tipos de Maniobras</a>
          <a href="#choque-frontal-por-adelantamiento">Choque frontal por adelantamiento</a>
          <a href="#errores-en-caso-de-ser-sobrepasado">Errores más comunes en caso de ser sobrepasado</a>
          <a href="#choque-frontar">Constantes del choque frontal</a>
          <a href="#conduccion-lluvia">Conduccion con lluvia</a>
          <a href="#conduccion-niebla">Conduccion con niebla</a>
          <a href="#conduccion-nieve-hielo">Conduccion por camino con nieve o hielo</a>
          <a href="#encandilamiento">Encandilamiento</a>
          <a href="#conduccion-zonas-urbanas">Conduccion en zonas urbanas</a>
          <a href="#conduccion-rutas">Conduccion en ruta</a>
          <a href="#conduccion-autovias-autopistas">Conduccion en autovias y autopistas</a>
          <a href="#conduccion-ripio">Conduccion en camino de ripio</a>
        </nav>
      </div>
    </section>
    <section class="content">
      <article>
        <p id="conduccion">
          La formación teórica de los conductores, así como la práctica, contribuye a adquirir hábitos seguros en el modo de conducir que posibilitan una mejora social del tránsito en general.
          Algunas personas consideran que saber conducir un vehículo significa simplemente conocer los procedimientos y técnicas que permiten dominarlo. Sin embargo, no sólo se debe demostrar que se tiene conocimiento de los procedimientos para manejar sino que, además, el conductor debe dar cuenta de que tiene una conciencia de cuidado.
          Es decir, que el conductor debe mostrar que es consciente de su responsabilidad en el tránsito y la circulación; que su modo de comportarse afecta y es afectado por los demás; y que cuando se circula existen riesgos que deben conocerse.
        </p>
        <h2 id="circulacion-velocidad">Circulación y velocidad</h2>
        <p>
          Es recomendable mantener la velocidad de circulación lo más uniforme posible y evitar las frenadas innecesarias que conlleven luego
          sus correspondientes aceleraciones. 
          <br>
          Se recomienda:
          <ul>
              <li>Respetar una adecuada distancia de seguridad entre los automóviles.</li>
              <li>Realizar la conducción con suficiente anticipación y previsión. </li>
              <li>Usar de forma correcta el pedal del acelerador, manteniéndolo estable en una determinada posición. No es conveniente realizar pequeñas variaciones de forma continua en torno a una determinada posición del pedal, ya que se provoca un mayor desgaste de las piezas mecánicas y un mayor consumo. Normalmente, se recomienda evitar los carriles rápidos en las vías y circular en el carril de la mano derecha a la velocidad correspondiente.</li>
              <li>Al circular por la derecha es importante analizar la situación del tránsito y tener en cuenta:</li>
              <li>Las características de la estructura del camino. </li>
              <li>Determinar de qué tipo de camino se trata: autopista o calle común. </li>
              <li>Observar si el camino se encuentra dentro o fuera de una zona habitada. </li>
              <li>Prestar atención a la señalización existente. </li>
              <li>Las circunstancias contextuales tales como la congestión del tránsito, las condiciones climáticas, la visibilidad, etc.</li>
          </ul>
        </p>
        <p>
          El conductor debe ocuparse constantemente de recoger toda la información necesaria para poder tener una buena visión de la situación del tránsito y anticiparse debidamente. Por ello, es importante que se controle permanentemente la velocidad, la distancia, la mano de circulación en la vía y el adelantamiento de otros automóviles.
        </p>
        <h2 id="circulacion-caravana" class="breakPoint">Conduccion en Caravana</h2>
        <img src="./img/conduccion/conduccion-1.png" alt="Conducción en Caravana">
        <p>Teniendo en cuenta el tránsito actual, la circulación en caravana es difícil de sortear, por ello se debe evitar la constante aceleración y detención. Si se circula con fluidez sin realizar continuas aceleraciones y frenadas, se evitarán desgastes innecesarios del automóvil y se ahorrará combustible. De esta manera se contribuye con la fluidez de la
          circulación.</p>
      <h3 id="conduccion-caravana">La conduccion en caravana</h3>
      <p>• Si viajás en caravana evitá, siempre que sea posible, los adelantamientos. Si los realizás, no lo hagas nunca a más de dos vehículos seguidos. <br>
          • Mantené, en todo momento, las distancias de seguridad entre vehículos. <br>
          • En las travesías de núcleos urbanos, extremá tu atención ante la presencia de niños, peatones y ciclomotores y tené en cuenta la velocidad
          máxima permitida para circular. <br>
          • Si precisás detenerte, sacá completamente el vehículo de la calzada a la banquina, y si es posible fuera de la carretera. <br>
          • Adecuá tu velocidad a la del tráfico que te rodea.</p>
          <h3 id="conduccion-campo-visual">La conduccion y el campo visual</h3>
          <p>
              La mayor parte de la información que le llega a un conductor es por medio de sus ojos. La zona que abarca la vista es el llamado campo visual, que puede estar afectado por factores tales como el diseño del
vehículo, las condiciones climáticas, el tránsito, la velocidad de circulación y el estado físico del conductor. 
No siempre se toma en cuenta la significación que el uso de un adecuado campo visual tiene para una conducción segura.
          </p>
          <p>
              El 80 % de la información que recibe un conductor proviene del campo visual, por ello una conducción segura requiere un adecuado campo visual. 

Se debe utilizar la zona de visión más amplia, que es aproximadamente de unos 170 grados. Si bien la luz diurna facilita un amplio campo visual en todas las direcciones por la utilización de espejos o el giro de la vista, existen varios factores que pueden limitarlo.
          </p>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2243U1B6rXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 id="factores-que-afectan-campo-visual">Factores que afectan el campo visual</h3>
          <p>Condiciones climáticas: lluvia, niebla, nieve. 
              Diseño del vehículo: muy cerrado, muy bajo, muy alto. 
              Defectos en los vidrios: rajaduras / roturas. 
              Adornos u objetos colocados en ventanillas, parabrisas y luneta, calcomanías en los vidrios. 
              Vidrios cuya tonalidad no respeta las reglamentaciones vigentes.</p>
          <h3 id="transito">Transito</h3>
          <p>
              En las intersecciones puede haber escasa visibilidad y se requiere mayor campo visual exigiendo un adelantamiento prudente.
              Otros vehículos, objetos o vegetación que impidan la visión: ramas
              de árboles, puestos de ventas, etc.
              Edificaciones, columnas, postes.
              Carteles publicitarios.
              Falta de iluminación propia o del ambiente.
              En zona rural la visibilidad depende del alcance de las luces propias.
          </p>
          <h3 id="estado-conductor">Estado físico del conductor</h3>
          <p>
              Cansancio/estrés, Consumo de alcohol, drogas y medicamentos.
          </p>
          <h3 id="velocidad">La Velocidad</h3>
          <p>
              Al aumentar la velocidad disminuye la percepción de los objetos a los lados: a los 40 km/h el campo visual se reduce a 100 grados, y a 100 km/h el campo visual disminuye a 50 grados, aproximadamente.
          </p>
          <p>
              En ese sentido, durante la conducción es de gran importancia mantener un adecuado campo visual, mediante: <br>
              • La mirada hacia adelante a suficiente distancia (unos 200 metros). <br>
              • La modificación constante del campo visual, mirando detrás del vehículo, por los espejos retrovisores interiores y exteriores. <br>
              • Una mirada atenta, alternativamente a mayor o menor lejanía, que permite contemplar de forma más amplia la circulación de la
              vía. <br>
              • Se debe mantener una posición adecuada, tanto de los espejos retrovisores como de los asientos del vehículo, y es recomendable no obstaculizar la visión con diversos elementos o vidrios que impidan la visual a los automóviles que circulan detrás.
          </p>
          <h2 id="punto-ciego">Punto ciego</h2>
          <p>
              Los puntos ciegos son las áreas de visión no cubiertas por los tres espejos retrovisores y por la visión directa delantera. Se debe ajustar el espejo retrovisor interior y los espejos laterales exteriores para reducir los puntos ciegos, ya que son zonas que el conductor no puede observar detrás de su automóvil a través de los espejos retrovisores. También se debe ajustar el espejo exterior del conductor de modo que se pueda ver el extremo de la manija de la puerta delantera en el extremo inferior derecho del espejo.
          </p>
          <img src="./img/conduccion/conduccion-2.png" alt="Gráfico sobre los tipos de visión">
          <h2 id="distancia-de-seguridad">La Distancia de Seguridad</h2>
          <img src="./img/conduccion/conduccion-3.png" alt="Gráfico sobre Distancia de Vehiculos">
          <p>La distancia de seguridad es el espacio que se deja de margen entre el vehículo precedente y el propio. Al respecto la Ley de Tránsito dice que se debe "conducir a una distancia del vehículo que lo precede, menor de la prudente, de acuerdo a la velocidad de marcha". Sólo los ómnibus, camiones y maquinarias especiales están obligados a mantener una distancia de 100 metros entre sí o con los vehículos que los anteceden. <br>

              De todos modos, hay una fórmula práctica para mantener una velocidad segura de seguimiento que nos permite mantener la distancia adecuada: es la Regla de los dos segundos. Se aplica de la siguiente manera: <br>
              
              • Se elige un punto de referencia en la vía por donde pasará el vehículo que antecede. <br>
              • Cuando ese vehículo pasa por el punto de referencia se procede a decir “mil ciento uno, mil ciento dos”. Son dos segundos. <br>
              • Si el vehículo llega al punto de referencia antes de decir: “mil ciento dos” significa que el seguimiento es muy de cerca y, en consecuencia, se deberá reducir la velocidad hasta ponerse a dos segundos de distancia del vehículo de adelante. <br>
              
              Se debe aumentar la distancia segura de seguimiento a más segundos cuando: <br>
              
              • Hay condiciones adversas (neblina, lluvia, etc.) <br>
              • Están en mal estado las vías de circulación o están realizando obras. <br>
              • Anteceda a nuestro vehículo otro que limite el campo de visión.</p>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Js2mA2sFVno" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h2 id="maniobras-de-circulacion">Maniobras básicas de Circulacion</h2>
          <p>Se entiende por maniobras básicas de circulación a las variaciones de situación o posición en el espacio vial (calle, avenida, ruta, etc.) que realizan los conductores con sus vehículos y que suponen una alteración de las circunstancias normales del tráfico. Éstas son:
          </p>
          <p>
              • Desplazamientos laterales. <br>
              • El cambio de sentido de la marcha. <br>
              • La incorporación a la circulación. <br>
              • La parada. <br>
              • El adelantamiento. <br>
              • El estacionamiento <br>
              • El cambio de dirección. <br>
          </p>
          <p>
              En todas las maniobras básicas rige un principio general:
              No se iniciará maniobra alguna sin haberse cerciorado previamente de que puede efectuarse sin peligro, incluso siguiendo las
              indicaciones de otra persona, y de que no constituye un obstáculo para los demás usuarios de la vía de circulación.
              Por eso, para iniciar una maniobra se debe cumplir la siguiente secuencia: 
          </p>
          <p>
              • Observar el entorno para comprobar que la misma está permitida y que no implica riesgo ni obstaculización para los demás usuarios, cualquiera sea la naturaleza de éstos, la posición en la que se encuentren, la dirección o trayectoria que sigan y la velocidad a la que circulen. <br>
              • Efectuar una señal para advertir la maniobra que se va a realizar a los demás usuarios de forma clara y con la suficiente antelación. <br>
              • Ejecutar la maniobra deseada únicamente después de haber observado el entorno circulatorio; de haber comprobado que la maniobra está permitida por las normas y señales de circulación y por las circunstancias del tráfico; de cerciorarse de que la misma no implica riesgo alguno para los demás usuarios ni obstaculización a la circulación y de haberla advertido con claridad y antelación suficientes.
          </p>
          <h2 id="tipos-de-maniobras">Tipos de Maniobras</h2>
          <p>Maniobrar en el tránsito implica una alteración en el desplazamiento del vehículo. Toda alteración en la circulación de un automóvil como el cambio de velocidad, sobrepaso, estacionamiento, cambio de dirección o de sentido de desplazamiento, etc., implica un riesgo.</p>
          <h2 id="choque-frontal-por-adelantamiento">Choque frontal por adelantamiento</h2>
          <p>
              El peligro de la colisión frontal aumenta cuando el conductor se desplaza por una vía de doble sentido de circulación (dos carriles) y quiere realizar una maniobra de adelantamiento, ya que implica efectuar un trayecto por el carril de mano contraria. 
              Los choques frontales son particularmente graves, porque la velocidad del impacto es la suma de la velocidad de ambos vehículos.
          </p>
          <h3 id="errores-en-caso-de-ser-sobrepasado">Errores más comunes en el caso de ser sobrepasados</h3>
          <p>
              • No facilitar la maniobra. <br>
              • No mantener la circulación por la derecha. <br>
              • Elevar la velocidad cuando se es sobrepasado. <br>
              • No avisar la inconveniencia de la maniobra de adelantamiento al vehículo que viene atrás.
          </p>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QrK3Mx59Y2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
          <h3 id="choque-frontar">Causantes de Choque Frontal</h3>
          <p>
              • Errónea apreciación de distancias. <br>
              • Incorrecta evaluación del tiempo para efectuar la maniobra. <br>
              • Error en el cálculo de la velocidad del vehículo que viene de frente. <br>
              • Adelantamiento en sitios incorrectos (curvas, pendientes, túneles,
              puentes, encrucijadas y cruces ferroviarios). <br>
              • Adelantamiento por mano incorrecta (mano derecha). <br>
              • Visibilidad defectuosa causada por niebla, curvas u objetos que dificulten la visión. <br>
              • Disminución de la visión por acercamiento al vehículo que va a
              pasar, particularmente riesgoso en caso de vehículos de dimensiones
              grandes. <br>
              • Apresuramiento del conductor. <br>
              • Falta de observación de maniobras de otros vehículos. <br>
              • Efectuar la maniobra sin haberla señalado.
          </p>
          <h2>Conduccion en circunstancias especiales</h2>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/D2lqENEB5OM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 id="conduccion-lluvia">Conduccion con lluvia</h3>
          <img src="./img/conduccion/conduccion-4.png" alt="Gráfico sobre conducción con lluvia">
          <p>
              La lluvia es uno de los factores más frecuentes en las causas de siniestros de tránsito ya que influye en: <br>
              • La disminución del campo visual. <br>
              • Modifica la distancia comúnmente necesaria para detener el vehículo 
          </p>
          <p>
              Al comenzar a llover, el agua que cae se mezcla con los residuos y polvo que presenta el pavimento formando una película pastosa. Esta película disminuye la adherencia de los neumáticos hasta en un 50 por ciento aumentando las posibilidades de resbalar; es por ello que, en caso de lluvia, es necesario guardar una distancia de seguridad
              mayor con el vehículo que circula adelante.
          </p>
          <p>
              Asimismo, la lluvia afecta el campo visual del conductor, por ello la revisación regular de los limpiaparabrisas es importante. Conducir con
              la cabeza afuera del auto en caso de lluvia, por no contar con el limpiaparabrisas en condiciones, es una maniobra muy peligrosa que impide el dominio del vehículo. La postura del conductor no sólo es incómoda sino que le impide el alcance correcto a todos los elementos del vehículo: luces, relojes de control y otros.
          </p>
          <p>
              El agua acumulada en el pavimento puede provocar la pérdida de dominio del vehículo, produciendo el efecto planeo o aquaplanning.       
              ¿En qué consiste el efecto planeo o aquaplanning? 
               A velocidades superiores a los 50 kilómetros por hora, la mayoría de las cubiertas hacen contacto con las superficies mojadas como un limpiaparabrisas. A medida que aumenta la velocidad, se empieza a formar una película de agua debajo de las cubiertas, como si fueran
              esquíes acuáticos.
          </p>
          <p>
              Esto se conoce coloquialmente como “aquaplanning” o “colchón de agua”. El efecto se incrementa cuando la velocidad llega hasta 90 kilómetros por hora. En una lluvia torrencial, se puede perder por completo el contacto con el pavimento
              provocando este efecto planeo. Si esto ocurre, no hay fricción alguna para frenar, acelerar o girar. Un golpe de viento, cambio de nivel en la vía o curva poco pronunciada puede provocar un derrape y/o siniestro.
              Para evitar el “aquaplaning”, no se debe manejar con cubiertas desgastadas y corresponde disminuir la velocidad en caso de lluvias torrenciales, aguas estancadas o nieve semi-derretida en la vía.
          </p>
          <h3>En caso de lluvia es conveniente</h3>
          <p>
              • Circular a menor velocidad. <br>
      • Guardar una distancia mayor con el vehículo que circula adelante. <br>
      • Evitar toda maniobra, desaceleración o frenada brusca. <br>
      • Mantener en funcionamiento el limpiaparabrisas. <br>
      • Recordar que los demás vehículos pueden salpicar dificultando aún
      más la visión.  <br>
      • Mantener en buen estado las luces del vehículo, ya que en caso de lluvia es importante ser visto con claridad
          </p>
          <h3 id="conduccion-niebla">Conduccion con niebla</h3>
          <p>
              Estadísticamente, los siniestros de tránsito relacionados con la niebla llegan a los niveles más altos de fatalidades. Este efecto climático puede aparecer sorpresivamente en lugares bajos, al salir de una curva, al bajar de una loma o al ingresar a lugares con poco viento que favorecen la permanencia de bancos de niebla.
          </p>
          <p>La niebla está formada por nubes muy bajas, que dificultan la visión
              según la concentración de las gotas que la forman. Puede presentarse
              tenue, imperceptible o muy densa y ser una verdadera barrera que
              anula la visión. En el pavimento, la niebla tiene el efecto de una tenue
              llovizna que va depositándose sobre el mismo, generando una película
              de humedad que reduce la adherencia de las cubiertas de manera
              considerable.</p>
              <h3>En caso de niebla es conveniente</h3>
              <p>
                  • Mantener encendidas las luces bajas. Las luces altas molestan a los otros conductores y producen un efecto de encandilamiento, al reflejarse en la niebla. <br> 
                  • No circular con las balizas prendidas. Estas sólo deben utilizarse cuando el vehículo se estaciona al costado de la ruta o está completamente detenido. <br>
                  • Respetar la velocidad de circulación indicada en la ruta con las señales horizontales que tienen forma de “V” invertida: una señal indica que se debe ir a 40 km/h, 2 de esas señales juntas, a 60 km/h. <br>
                  • Guiarse por la señalización de la vía de circulación. La línea blanca
                  al costado de la ruta sirve de referencia para orientarse. <br>
                  • Utilizar faros antiniebla, en caso de poseerlos. <br>
                  • Conducir con regularidad, evitar frenar bruscamente o con frecuen-
                  cia, ya que es peligroso para quienes circulen detrás. <br>
                  • No sobrepasar a otros vehículos. <br>
                  • Mantener la distancia adecuada con el vehículo que circula adelante,
                  ya que la humedad en el pavimento reduce la adherencia de las cubiertas. <br>
                  • Apagar la radio para concentrarse en los sonidos de otros vehículos y tratar de ubicar su posición. Los acompañantes deben mantener silencio. 
                  • Las maquinarias especiales no pueden circular los días o momentos de niebla. <br>
                  • Encender la calefacción para desempañar el parabrisas y la luneta.
              </p>
              <p>
                  En caso de detención del vehículo: <br>
                  • Hacerlo en un lugar seguro como estaciones de servicios, de peaje, etc.  <br>
                  • En caso necesario, detenerse en la banquina, lo más lejos posible del camino, dejando las luces encendidas, balizas encendidas, bajando del auto y alejándose del mismo hasta que se disipe la niebla.
              </p>
              <h3 id="conduccion-nieve-hielo">Conduccion en camino de nieve e hielo</h3>
              <img src="./img/conduccion/conduccion-5.png" alt="Conducción en camino de nieve o hielo">
              <p>
                  Si cae de manera abundante genera un efecto parecido a la niebla, y se hace muy difícil penetrarla con los faros del vehículo, especialmente en la conducción nocturna. A medida que se va acumulando sobre el camino, comienza a afectar la adherencia de los neumáticos y la tracción. Esto genera una verdadera pista de patinaje, que se denomina adherencia cero. En ese momento un neumático convencional pierde absolutamente la adherencia y cualquier acción brusca que se ejerza sobre el vehículo, lo convertirá en un trompo. <br>
                  La "adherencia cero" no se produce sólo por las nevadas.
              </p>
              <h3 id="encandilamiento">Encandilamiento</h3>    
              <p>
                  Durante la conducción nocturna las pupilas se encuentran totalmente
                  abiertas para poder captar el máximo de luz posible. Cuando las luces altas del vehículo contrario encandilan al conductor, sus pupilas de-
                  moran de cuatro (4) a siete (7) segundos aproximadamente en restablecer la visibilidad (esto varía en función de la edad, el estado psicofísico, los hábitos de descanso, etc.).
                  Conducir a 100 kilómetros por hora implica recorrer una distancia de,
                  aproximadamente, 30 metros en un segundo, por lo que en caso de encandilamiento se recorrerían de 120 a 210 metros a ciegas.
                  Al observar un vehículo desplazándose en sentido contrario, con las luces altas encendidas se debe disminuir la velocidad y aumentar la
                  distancia entre el vehículo de adelante y el propio; hacer guiño con las luces altas/bajas y, finalmente, dirigir la vista hacia la derecha, es decir, hacia la línea de banquina.
              </p>
              <h2>Diferentes contextos en la conduccion</h2>
              <h3 id="conduccion-zonas-urbanas">Conduccion en zonas urbanas</h3>
              <img src="./img/conduccion/conduccion-6.png" alt="Conducción en zonas urbanas">
              <p>Es necesario que los conductores de vehículos, motos y peatones adopten criterios de conducción segura debido al gran crecimiento del parque automotor en el país, sumado a especiales situaciones que en materia de tránsito
              presentan las grandes y medianas ciudades.</p>
              <p>
                  En horarios pico, el conductor se puede encontrar con un flujo de
                  tránsito intenso caracterizado por diferentes situaciones, como la posible circulación de vehículos en estado de emergencia (ambulancias, autos de la policía, etc.), vehículos que se transponen y traspasan constantemente, cruce inoportuno de peatones, semáforos, circulación obligatoria por determinados carriles, respeto de determinadas señales de tránsito frecuentes de la ciudad indicando la cercanía de escuelas y hospitales. Debido a que comparte escenarios de conducción con vehículos de diverso porte y peatones, deberá estar atento ante el obrar de los demás, conociendo los diversos vehículos que transitan por ella ya sean particulares, camionetas, utilitarios, colectivos, etc.
              </p>
              <p>
                  En la ciudad, el conductor debe tener en cuenta lo siguiente:

                  • Los semáforos deben ser respetados dado que una gran cantidad de siniestros de tránsito derivan de su desatención. <br>
                  • Señalizar correctamente cada maniobra. El conductor debe señalizar a través de las luces de giro y en forma anticipada cada maniobra a realizar. También es conveniente el uso de balizas cuando corresponda. <br>
                  • Respetar el derecho de prioridad de paso en intersecciones
                  como calles, avenidas, rotondas, etc. <br>
                  • Respetar las velocidades de circulación en calles y avenidas. <br>
                  • Tener un comportamiento cauteloso y preventivo en determinadas zonas como pueden ser lugares vecinos a escuelas, jardines de infantes, hospitales, campos de deportes y/o lugares
                  recreativos. <br>
                  • Siempre se debe mantener la distancia de seguridad pertinente porque la misma nos permite maniobrar anticipadamente para evitar una colisión. <br>
                  • Indicar la maniobra a realizar antes de estacionar o detenerse prestando atención al conductor que se encuentra detrás del propio vehículo. Tener las mismas previsiones con respecto al
                  vehículo situado delante ya que puede realizar una detención para estacionar. 
              </p>
              <h3 id="conduccion-rutas">Conduccion en rutas</h3>
              <p>
                  Antes de comenzar un viaje verificar que se encuentren en condiciones los siguientes elementos del vehículo: neumáticos, luces, dirección, frenos, limpiaparabrisas, bocina, aceite y agua. El conductor tiene que encontrarse descansado, para lo cual es necesario haber dormido por lo menos 6 horas previas, lapso durante el cual no debe haber ingerido bebidas alcohólicas, ya que éstas afectan el tono muscular y nervioso del organismo.
                  En los viajes largos es aconsejable hacer paradas de 10 minutos cada 2 horas.
                  En rutas nacionales, es obligatorio transitar con luces bajas encendidas, tanto de día como de noche independientemente del grado de luz natural, o de las condiciones de visibilidad que se registren.
              </p>
              <h3 id="conduccion-autovias-autopistas">Conduccion en autovias y autopistas</h3>
              <p>
                  En autopistas y autovías siempre se debe circular por el carril de la mano derecha en caso de transitar a baja velocidad. El cambio de carril se utiliza sólo para efectuar un adelantamiento y, una vez efectuado el mismo, retomar gradualmente la circulación por el carril derecho. Se debe comenzar la maniobra de cambio de carril con mayor antelación que en las calles usuales.
              </p>
              <p>
                  Causas predominantes en materia de siniestros en las rutas:
                  • El exceso de velocidad. <br>
                  • Adelantamientos indebidos. <br>
                  • No utilizar cinturón de seguridad. <br>
                  • Conducir bajo los efectos del alcohol, estupefacientes o cualquier sustancia que disminuya las condiciones psicofísicas normales. <br>
                  • La somnolencia. <br>
                  • Falta de atención al manejar.     
              </p>
              <h3 id="conduccion-ripio">Conduccion en camino de ripio</h3>
              <img src="./img/conduccion/conduccion-7.png" alt="Conducción en caminos de ripio">
              <p>
                  Un camino de ripio es una cale de tierra cubierta con una superficie de piedras machacadas que se utilizan en la pavimentación o el mejorado de los caminos.
              </p>
              <p>Estos caminos son muy comunes en las zonas rurales argentinas</p>
              <p>En la experiencia de transitar por caminos de ripio o huellas, se combina la necesidad de una conduccion responsable coin el cuidado del medio ambiente y el respeto por la diversidad cultural. Por eso, diversos organismos provinciales y municipios del interior del país promocionan la conducción responsable por caminos de ripio y huellas.</p>
              <p>Consejos para la conducción en caminos de ripio: <br>
                  - Seguir la huela marcada en el camino de ripio, ya que es más firm que el resto del camino. <br>
                  - Viajar a velocidad moderada acorde a las características de cada camino. <br>
                  - Recordar que en este tipo de caminos, los vehiculos pierden estabilidad y adherencia }. <br>
                  - No utilizar cubiertas lisas ni excesivamente reparadas. <br>
                  - No pisar el freno en caso de rompimiento de neumático. Intentar dominar el vehiculo y detenerlo lentamente. <br>
                  - Evitar maniobrar bruscamente la dirección del automóvil debido a que produce perdida del control. <br>
                  - Proteger el parabrisas y unidades ópticas, al fin de evitar roturas causadas por las piedras. También proteger la caja de velocidades en caso de ser metal ligero. <br>
                  - Evitar arrollar piedras o rocas durante la circulación por rutas o caminos naturales. <br>
                  - Intentar esquivarlas para impedir daño en la caja de velocidades, el tanque de combustible y los circuitos de frenos. <br>
                  - En puentes, curvas y pendientes mantenerse a la derecha. <br>
                  - Otorgar prioridad al vehiculo que asciende en caso de circular en pendientes. <br>
                  - En los guardaganados, alcantarillas y puentes el ancho es reducido y, en algunos, de solo un carril. Disminuir la velocidad para evitar la proyección de piedras manteniendose a la derecha del camino. <br>
                  - Recordar que al finalizar el adelantamiento de un vehiculo la visibilidad en caminos de ripio es casi nula debido a la nube de polvo que levanta a su paso. Para mayor seguridad, detenerse hacia la derecha, con las luces hacia la derecha, con las luces altas encendidas y las balizas esperando que disipe el polvo. <br>
                  - No sobrepasar vehiculos ni circular cerca de ellos durante la circulacion en ncaminos naturales o de ripio, ya que e automotor proyecta constantemente piedras hacia atrás. En caso de hacerlo, tratar de ser visto por el otro conductor, colocando la luz de giro izquierda para informar la intención de sobrepaso y esperar la habilitación del otro conductor. <br>
                  - En los caminos naturales o huellas y los caminos de montaña, las curvas no son aptas para altas velocidades. En esos casos, no exceder los 40 kilometros por hora. <br>
                  - No intentar cruzar ríos, arroyos o lagunas que cubren la calvazada y se desconoce la profundidad. <br>
                  - Los caminos de díficil azcceso son solo para vehiculos equipados para tal fin. Si no se posee el vehiculo adecuado, no arriesgar la circulación por ellos. <br>
                  - Si se encuentran maquinarias realizando maniobras sobre el vehiculo, disminuir la velocidad y esperar las indicaciones de los operarios.
              </p>
             <h2 id="videos-utiles" class="breakPoint">Videos que podrían ser de utilidad</h2>

             <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/APjVhDFaOfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
             <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Bp7XFnN3yhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
      </article>
    </section>
  </div>

<%- include('partials/footer.ejs') %>