<%- include('partials/head.ejs') %>

<h2 id="site-header">Material Descargable:</h2>
    <div class="cards">
      <div class="card">
        <div class="image">
          <img src="./img/icon-ley.png" alt="Icono sobre Leyes de Tránsito">
        </div>
        <div class="text">
          <h3>Ley de Tránsito</h3>
          <p>Un PDF con la Ley de Transito N°24449.</p>
          <a href="./descargas/ley 24449.pdf" download="Ley de Tránsito">Descargar</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="./img/señales-viales.png" alt="Icono sobre Leyes de Tránsito">
        </div>
        <div class="text">
          <h3>Señales Viales</h3>
          <p>Un PDF que incluye todas las señales de tránsito utilizadas en la República Argentina.</p>
          <a href="./descargas/ansv_licencias_libro_senales_de_transito.pdf" download="Señales de Tránsito">Descargar</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="./img/icon-licencia.png" alt="Icono sobre Leyes de Tránsito">
        </div>
        <div class="text">
          <h3>Manual de Conductor</h3>
          <p>Un PDF con una guía de cómo obtener una licencia de conducir, con requisitos y material extra.</p>
          <a href="./descargas/ansv_licencias_manual_del_conductor.pdf" download="Manual del conductor">Descargar</a>
        </div>
      </div>
    </div>

<%- include('partials/footer.ejs') %>