<%- include('partials/head.ejs') %>
 

<div class="box">
    <section>
      <div class="table-of-contents" id="tabla">
        <h2>Tabla de Contenidos</h2>
        <nav class="site-nav">
          <a href="#introduccion">Introducción a la Seguridad Vial</a>
          <a href="#elansv">El ANSV</a>
          <a href="#licencia">Licencia Nacional de Conducir</a>
        </nav>
      </div>
    </section>
    <section class="content">
      <article>
        <h2 id="introduccion">Introducción a la Seguridad Vial</h2>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WRdZ0yABfBk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>El material escrito en esta página web está dirigido a los estudiantes de secundaria que se encuentran transitando el último año, ya que a los 16 años se puede tramitar la licencia para conducir ciclomotores, en tanto a los 17 años se pueden tramitar las licencias de categorias A y B.</p>
        <h2 id="elansv">La Agencia Nacional de Seguridad</h2>
        <p>
          En el año 2008 se creó la agencia Nacional de Seguridad Vial, de acuerdo a lo dispuesto por la Ley N° 26.363. <br> Estos son los objetivos de la ANSV:
          <ul>
            <li>Garantizar el cumplimiento de acciones que aseguran el control y la fiscalización del tránsito y permita avanzar en el mejoramiento de la circulación en la vía pública.</li>
            <li>Realizar procedimientos para la conformacución de un mapa que permita establecer y detectar con la mayor precisión posible los sectores con mayores índices de siniestros de tránsito, llamados "puntos negros".</li>
            <li>Coordinar y fiscalizar la implementación de políticas que permitan realizar un control efectivo y eficiente de la emisión de la Licencia Nacional de Conducir.</li>
          </ul>
        </p>
        <h2 id="licencia">Licencia Nacional de Conducir</h2>
        <p class="breakPoint">
          Esta Licencia Nacional, también llamada Licencia Única, es un esfuerzo importante para que todos los conductores del país tramitemos una licencia de conducir con validez nacional. El objetivo final es que todos los conductores tengamos los mismos requisitos y procedimientos a lo largo y a lo ancho del territorio nacional, es decir, que poseamos los mismos conocimientos y destrezas para conducir con responsabilidad. Esta licencia de alcance nacional, también posibilita el establecimiento de un sistema de puntos o scoring. Asimismo la base de datos existente a nivel nacional permite contar con un registro de los infractores y las faltas cometidas por los mismos.
        </p>
        <p>
          Para llegar a ser un conductor prudente hace falta conocer el tipo de vehículo que se va a manejar, sus partes y funcionamiento, los elementos de seguridad que debe tener incorporados, o que se deben incorporar para proteger el propio cuerpo de quien conduce. También es necesario estar al tanto de cómo mantener el vehículo en buenas condiciones. La conducción de una moto, de un auto o de otro vehículo abarca, además del conocimiento sobre el manejo y las normas de tránsito, un conjunto de cuestiones vinculadas a cómo manejar de modo seguro y responsable. Sin embargo, al conducir un vehículo la destreza tecnológica no es todo.
        </p>
        <p>
          Actualmente las maneras generalizadas e instaladas de conducir distan de observar estrictamente las normas y atender al cuidado de las personas y el medio ambiente. El material que presentamos a continuación trabaja sobre los contenidos obligatorios del curso teórico que habilita para rendir el examen teórico para la obtención de la Licencia Nacional de Conducir. Para el abordaje de los contenidos incluídos en esta publicación se sugiere destinar al menos 20 horas.
        </p>
      </article>
    </section>
</div>


<%- include('partials/footer.ejs') %>