<%- include('partials/head.ejs')%>

<div class="box">
    <section>
      <div class="table-of-contents" id="tabla">
        <h2>Tabla de Contenidos</h2>
        <nav class="site-nav">
          <a href="#revision-general">Revision general del vehiculo</a>
          <a href="#revision-tecnica-obligatoria">Revision Tecnica Obligatoria</a>
          <a href="#vehiculos-particulares">Vehiculos Particulares</a>
          <a href="#vehiculos-no-particulares">Vehiculos de uso No Particulares</a>
          <a href="#vehiculos-propulsados-a-gas">Vehiculos propulsados a gas natural</a>
          <a href="#vehiculos-que-hayan-sufrido-siniestros">Vehiculos que hayan sufrido siniestros</a>
          <a href="#revision-rapida">Revisión Rápida y aleatoria</a>
          <a href="#vehiculos-inobservancia">Vehiculos en inobservancia a las reglas que rigen la revisión tecnica obligatoria</a>
        </nav>
      </div>
    </section>
    <section class="content">
      <article>
        <p>
          En la circulación se ponen en juego diversos aspectos que tienen estrecha relación con pautas culturales, normas y responsabilidades de todos los transeúntes. En una situación vial siempre reconocemos como mencionamos en el capítulo referido a la educación ética y ciudadana- al menos uno de estos tres factores: ambiental, vehicular y/o humano. Sin embargo, es interesante conocer hasta dónde incide cada uno de ellos cuando ocurre un siniestro vial. Y, en este sentido, no perder de vista la importancia de las revisaciones periódicas para el mantenimiento del vehículo.
        </p>
        <p>
          La revisación regular del vehículo no sólo contribuye con el mantenimiento del mismo –lo que beneficia su valor– sino que también posibilita la detección de fallas, roturas o deterioros que podrían derivar en siniestros. Podemos realizar esta revisación en nuestro auto sin necesidad de gastos, pero es necesario que las inspecciones sean efectuadas por personal calificado.
        </p>
        <h2 id="revision-general" class="breakPoint">Revision general del vehiculo</h2>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/C9EnnQPkuNk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
          Aprender a realizar un buen mantenimiento al vehículo es velar no sólo por la vida útil del automóvil sino también por la seguridad propia y la de los demás. 
          • Revisar semanalmente el nivel de agua del radiador. No quitar el tapón de presión cuando el motor se encuentra todavía caliente.
          •Revisar el líquido de transmisión mensualmente, con motor en marcha y caliente. Extraer la varilla de medición, limpiarla, colocarla nuevamente y extraerla otra vez. Si es necesario, añadir el líquido adecuado acorde al auto.            
        </p>
        <p>
          Revisar el aceite mensualmente. Extraer la varilla y limpiarla. Insertarla y extraer otra vez. Si el nivel es bajo, añadir aceite. Cambiar el filtro de aceite cada vez que se realice el cambio del mismo. 
        </p>
        <p>
          • Mensualmente, revisar el líquido de frenos. Si necesita líquido, añadir lo necesario. No agregar más de la línea de marca establecida en el depósito. Revisar el sistema, buscando escapes o pérdidas de líquido de frenos. <br>
          • Revisar el depósito de agua del limpiaparabrisas y mantenerlo lleno. En caso de zonas frías, controlar si el depósito tiene el agua escarchada o congelada. <br>
          • Examinar las correas y los conductos de goma mensualmente. Cambiar las correas desgastadas, deterioradas o picadas. Las correas deben estar siempre tensas. Algunos vehículos poseen tensionadores de correas y no necesitan ser ajustados. Cambiar los conductos de goma deteriorados, rotos o quebradizos, y estirar las abrazaderas. <br>
        </p>
        <p>
          • Revisar el filtro de aire cada dos meses. Renovarlo en caso de encontrarse con suciedad. • Revisar la batería en cada cambio de aceite: los cables deben estar conectados de forma segura y libre de corrosión en los bornes. Añadir solamente agua destilada a las partes que la necesiten. <br>
          • Mantener limpios los limpiaparabrisas. Cambiarlos regularmente evitando que se endurezcan, se agrieten o se gasten. <br>
          • Verificar regularmente el funcionamiento de las luces del vehículo: luces de frenos, intermitentes, luces de emergencia, altas y bajas. 
        </p>
        <p>
          • Revisar mensualmente las ruedas y la presión. Deben estar infladas con la presión correcta. Inspeccionar que no tengan cortes o presenten desgastes. Si se encuentran gastadas en zonas desiguales posiblemente la dirección –alineación y balanceo– necesite atención. Es conveniente rotar las ruedas. <br>
          • Verificar si debajo del auto se presentan piezas oxidadas o picadas - caño de escape, tanque, silenciador, caños, etc.- y cambiar o arreglar las partes afectadas. Revisar los amortiguadores. Verificar si tienen pérdidas. Apoyarse sobre el vehículo y presionarlo hacia abajo comprobando cómo trabajan. En caso de cambiar los amortiguadores, es conveniente la sustitución de a dos.
        </p>
        <h2 id="revision-tecnica-obligatoria">Revisión Tecnica Obligatoria</h2>
        <p>¿Qué es la Revisión Técnica Obligatoria (R.T.O.)? Es la revisión en donde
          se observa el estado general del vehículo, evaluando riesgos que pudieran ocasionarse en la vía pública, ya sea por su mal funcionamiento o por
          las deficiencias y/o desgaste de partes útiles del mismo. La Ley N° 24.449
          (capítulo 2, Parque Usado) establece esta obligación para el parque vehicular. Además, dichas revisiones posibilitan dar cumplimiento a lo normado en el artículo 32 de la mencionada ley, donde se estipula que las
          características de seguridad de los vehículos librados al tránsito no pueden ser modificadas. </p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Nvr-VGzAAvg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h3>Los Talleres</h3>
        <p>
          La revisión se deberá efectuar siempre en un mismo establecimiento y
          en un solo acto. Sólo los talleres habilitados serán los encargados de la
          realización de la Revisión Técnica Obligatoria (RTO). Los mismos funcionarán bajo la dirección de un responsable, Ingeniero matriculado con conocimientos relacionados en la materia. El Director Técnico siempre
          deberá estar presente cuando el taller se encuentre abierto.
        </p>
        <p>
          La función de los talleres será constatar mediante la revisión el estado
          general del vehículo, evaluando los riesgos que pudieran ocasionar en la
          vía pública, sea por su mal funcionamiento o por las deficiencias y/o desgaste de partes útiles del mismo. 
        </p>
        <p>
          El Taller de Revisión Técnica tiene un Sistema de Registro de Revisiones,
          en el cual se asientan las verificaciones realizadas, el resultado de las mismas y, de corresponder, el motivo de rechazo. El propietario del vehículo
          y el Director Técnico responsable del taller deberán siempre firmar dicho
          registro. 
        </p>
        <h2>Validacion del certificado de revisión técnica obligatoria</h2>
        <h3 id="vehiculos-particulares">Vehiculos Particulares</h3>
        <p>
          <ul>
            <li>Vehículos particulares cero kilómetros (0km): éstos tendrán un plazo máximo de gracia de treinta y seis meses (36), contados a partir de su fecha de patentamiento, para realizar su primera R.T.O. </li>
            <li>Vehículos particulares con menos de 7 años de antigüedad (desde patentamiento inicial): la R.T.O tendrá un plazo de 24 meses contados a partir de la fecha de su revisión anterior. </li>
            <li>Vehículos particulares con más de 7 años de antigüedad (desde
              patentamiento inicial): el plazo de vigencia de la R.T.O será de 12
              meses, contados a partir de la fecha de su revisión anterior. </li>
          </ul>
          <h3 id="vehiculos-no-particulares">Vehiculos de uso no particular</h3>
          <p>Deberán realizar la revisión tecnica obligatoria en un plazo que nunca excederá los 12 meses desde su patentamiento inicial.</p>
          <h3 id="vehiculos-propulsados-a-gas">Vehiculos propulsados a gas natural</h3>
          <p>Se deberá acreditar, mediante la exhibición de la oblea correspondiente, el cumplimiento de las revisiones yu/o verificaciones y/o requisitos exigidos legalmente por el Ente Nacional Regulador del gas. Es decir, la revisión especial que exige este último para poder circular con vehiculos de estas características.</p>
          <h2>Calificación de resultados de la R.T.O.</h2>
          <p>Después de realizarse la R.T.O la autoridad responsable se expedirá conforme tres grados de calificacion</p>
          <p><b>a) Apto</b><br>Significa que el vehículo no presenta deficiencias o las mismas no inciden sobre los aspectos de seguridad para circular en la vía pública. <br>
          <b>b) Condicional </b><br> Denota deficiencias que exigen una nueva inspeccion. En este caso debemos diferenciar según:
          </p>
          <ol>
            <li>Los vehículos que sean de carácter particular tendrán un plazo
              máximo de sesenta (60) días para realizar la nueva inspección.</li>
            <li>Los vehículos que no sean de carácter particular tendrán un plazo
              máximo de treinta (30) días para realizar la re-inspección, intervalo
              durante el cual no podrán prestar servicios de transporte.
              Los aspectos a controlar en la nueva inspección serán aquellos que
              presentaron deficiencias en la primera oportunidad. 
              </li>
          </ol>
          <b>c) Rechazado</b> <br> Impedirá al vehiculo circular por la vía publica. Exigirá una nueva inspección técnica total de la unidad.
        </p>
        <h2 id="vehiculos-que-hayan-sufrido-siniestros">Vehiculos que hayan sufrido siniestros</h2>
        <p>Los vehículos que hayan sufrido cualquier tipo de siniestros, deberán
          revalidar el Certificado de Revisión Técnica, pero si se trata de vehículos que padezcan un evidente deterioro de los elementos de seguridad (frenos, dirección, tren delantero, partes estructurales de chasis
          o carrocería) el certificado perderá su vigencia. En este último caso,
          una vez reparado el vehículo se deberá realizar una revisión. </p>
        <h2 id="revision-rapida">La revisión rápida y aleatoria</h2>
        <p>Esta es una revisión que se podrá exigir a cualquier vehículo que se
          encuentre en circulación. La autoridad competente hará detener al
          vehículo a examinar al costado de la calzada, y hará una revisión rápida y general aplicando el sentido común y criterios razonables de
          acuerdo a los conocimientos específicos que deberá tener en la materia. Desde el momento de la detención, la revisión nunca podrá exceder los 20 minutos. </p>
        <h2 id="vehiculos-inobservancia">Vehiculos en inbservancia a las reglas que rigen la revisión técnica obligatoria</h2>
        <p>Si un vehículo es detectado en incumplimiento de las reglas que rigen
          la Revisión Técnica Obligatoria, podrán ser obligados en forma urgente por la Autoridad Jurisdiccional (AJ) a efectuar la misma y no
          podrán salir de la jurisdicción en la que se encuentran radicados, sin
          perjuicio de la aplicación de las penalidades correspondientes. </p>
      </article>
    </section>
  </div>

<%- include('partials/footer.ejs') %>