<%- include('partials/head.ejs')%>

<div class="box">
    <section>
      <div class="table-of-contents" id="tabla">
        <h2>Tabla de Contenidos</h2>
        <nav class="site-nav">
          <a href="#reglas-de-transito">Reglas de Transito</a>
          <a href="#siniestro-velocidad">Siniestros y la velocidad</a>
          <a href="#siniestro-que-es">¿Qué es un siniestro?</a>
          <a href="#primeros-auxilios">Primeros Auxilios</a>
          <a href="#deberes-conductor">Deberes del conductor</a>
          <a href="#caracteristicas-del-obrar">Características del obrar</a>
          <a href="#responsabilidades-del-conductor">Responsabilidades del conductor</a>
          <a href="#responsabilidad-penal">Responsabilidad penal y contravencional</a>
          <a href="#regimen-de-sanciones">Regimen de sanciones</a>
          <a href="#arresto">Arresto</a>
          <a href="#inhabilitacion">Inhabilitacion</a>
          <a href="#multa">Multa</a>
          <a href="#decomiso">Decomiso</a>
        </nav>
      </div>
    </section>
    <section class="content">
      <article>
          <h2 id="reglas-de-transito">¿Por qué se producen los siniestros viales?</h2>
          <p>
            Si observamos las estadísticas realizadas por la Agencia Nacional de
            Seguridad Vial, vemos que la mayor causa de siniestros viales es la
            trasgresión a la ley, es decir, a la normativa de tránsito. Ir a mayor velocidad de la permitida, manejar en estado de alcoholemia o utilizando el celular, conducir motos sin usar casco, no respetar la
            prioridad del peatón, etc. <br>
            Por ese motivo, sostenemos que entre el 85% y el 90% de las causas
            que dan origen a los siniestros se deben al factor humano asociado a
            la conducción.
          </p>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-gFQgGzTVnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <img src="./img/reglas-de-transito/reglas-de-transito-1.png" alt="Cantidad de Siniestros Viales por año">
          <h2 id="siniestro-velocidad">Los siniestros y la velocidad</h2>
          <p>
            Una de las más importantes causas de los siniestros viales es la
            alta velocidad con la que se circula, en combinación con un déficit del estado psicofísico del conductor.
            Como conductores, para no entorpecer el tránsito ni convertirnos en factor de riesgo, debemos conducir a una velocidad que
            nos permita mantener el dominio del vehículo. Para ello, debemos tener en cuenta los siguientes elementos: <br>
            a) el estado en el que se encuentra el vehículo, <br>
            b) la carga que transporta, <br>
            c) el grado de visibilidad, <br>
            d) las condiciones de la calzada, <br>
            e) las condiciones atmosféricas, <br>
            f) la situación del tránsito y <br>
            g) el estado psicológico y físico del conductor. <br>
            La velocidad es el principal factor que determina la pérdida del
            dominio del vehículo, por lo tanto conducir a una velocidad superior o inferior a la permitida por la ley aumenta significativamente la posibilidad de que se produzcan siniestros viales. La
            velocidad que se conoce como “velocidad precautoria o precaucional” es aquella que tiene en cuenta los límites permitidos,
            pero que además está atenta al contexto del tránsito, mantiene
            la distancia de seguridad (capítulo 4) y observa el estado del camino y los factores climáticos que influyen en cada momento.
          </p>
          <img src="./img/reglas-de-transito/reglas-de-transito-2.png" alt="Limites de Velocidad">
          <h3 id="siniestro-que-es"class="breakPoint">¿Qué es un siniestro?</h3>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2A7yEV-kmOI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>Un siniestro de tránsito es un hecho que produce un daño en personas o
            cosas como consecuencia de la circulación. Siempre es evitable y siempre
            perjudica a más de una persona, es decir, tiene consecuencias sociales.</p>
         <h4>Causas</h4>
         <p>
            Los hechos de tránsito no son consecuencia de la mera casualidad. Por el contrario existe relación de causalidad entre éstos y los diversos factores (vehicular, humano y ambiental) que los producen.
            Hemos visto ya que los siniestros viales son casi siempre causados por
            la acción riesgosa, negligente o irresponsable, de los conductores, pasajeros o peatones. Sólo en un número limitado de hechos son atribuibles a fallas mecánicas inesperadas, condiciones ambientales
            desfavorables y cruce de animales durante el tráfico.
            Las principales causas que ocasionan siniestros son:
         </p>
         <ul>
             <li>Conducir a una velocidad que supere las máximas permitidas.</li>
             <li>Conducir estando bajo los efectos del alcohol y/o estupefacientes que disminuyan las condiciones psicofísicas</li>
             <li>La sonmolencia</li>
             <li>Otras causas que general falta de atención al manejar.</li>
         </ul>
         <h4>¿Qué debemos hacer ante un siniestro vial?</h4>
         <p>Si nos toca enfrentarnos a un siniestro vial protagonizado por un vehículo (auto, moto u otro): ¿Qué debemos hacer?
            Tomar los siguiente recaudos:</p>
            <ul>
                <li>Lo primero es quitar la llave del contacto, para evitar posibles explosiones provocadas por una fuga de combustible. </li>
                <li>En la medida de lo posible, hay que colocar el vehículo en un lugar apartado del camino (si es posible y es un auto, con las balizas encendidas). </li>
                <li>Es muy importante señalizar el siniestro colocando los triángulos de emergencia a unos 50 metros del vehículo, en ambos sentidos.</li>
                <li>Ante el menor riesgo de incendio desconectar la batería. </li>
                <li>Llamar rápidamente a los servicios de emergencia e indicar el teléfono desde donde se llama, el lugar exacto del siniestro y la cantidad de vehículos implicados, así como el número y el estado físico de las personas y si hay riesgo de incendio y/o explosión. </li>
                <li>Una vez que lleguen los equipos asistenciales, informarles todo lo sucedido. </li>
            </ul>
        <h2 id="primeros-auxilios">Primeros Auxilios</h2>
        <p>Los transeúntes que se encuentran en el lugar del hecho pueden realizar
            primeros auxilios mientras esperan al personal especializado. Esos
            primeros auxilios son algunas medidas o acciones de emergencia que
            pueden efectuarse sobre el lesionado. El objetivo es reducir los efectos del daño y dar estabilidad al accidentado, de lo cual va a depender el estado posterior general del herido. Por ello, es de gran
            importancia responder de manera oportuna y tener los conocimientos adecuados sobre medidas auxiliares ante estas situaciones.</p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/l09rROe25rY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>En primer lugar, las normas básicas para asistir a un accidentado indican que se debe comenzar por resguardar a la víctima de cualquier
            peligro, tratando siempre de no movilizar al herido grave, primordialmente su columna vertebral y su cuello. En caso extremadamente
            necesario, para protegerlo y evitar cualquier agravamiento de la herida, se puede improvisar una camilla, preferentemente con algún
            material firme que garantice no perjudicar aún más la situación de
            la víctima. Si se trata de una persona que conducía una moto, sólo
            puede quitársele el casco en caso de que dificulte su respiración, para
            lo cual se debe tener sumo cuidado, sujetándole el cuello y el tórax
            de manera que no se flexionen.</p>
        <p>Es imprescindible examinar al accidentado para conocer su estado:
            saber si está consciente, revisar su pulso y respiración, si está sangrando o presenta fracturas. Así se procederá a aplicar las medidas
            auxiliares correspondientes.
            En caso de que una persona esté en estado de shock, posiblemente
            se observará que su presión sanguínea ha cambiado, se pondrá pálida y sudorosa y se sentirá confusa. Para evitar que su situación empeore se debe tranquilizar a la persona, aflojar cualquier ropa
            ajustada, acostarla de espalda con las piernas levantadas y mantenerla abrigada.</p>
        <p>
            Siempre que fuese necesario, se debe aplicar respiración artificial y
            masaje cardíaco, para restablecer la respiración y sacarlo de un posible estado inconsciente. Se puede realizar el método de respiración boca a boca (en personas mayores) o boca nariz (en los niños). Consiste en introducir en los pulmones de la víctima el aire contenido
            en nuestra boca, faringe, tráquea y bronquios antes de que se quede
            viciado por nuestra propia respiración, es decir, el aire que aún no
            ha sufrido el total intercambio gaseoso en nuestros pulmones. 
        </p>
        <p>
            Si un accidentado tiene heridas o hemorragias, se debe acostar a la
            víctima con las piernas elevadas y aplicar presión con un pañuelo
            limpio o gasa durante diez minutos por lo menos. Debe mantener
            limpia la zona de la herida. Sin embargo, si el objeto que causó el
            daño continúa insertado en la piel profundamente no debe ser extraído. Cuando cesa de sangrar la herida debe colocarse un vendaje
            bien sujeto, sin quitarlo hasta ser atendido, ya que éste podría volver
            a abrirse. Cuando existe un traumatismo debe sujetar las fracturas,
            en lo posible con varillas, de manera que se mantenga firma la zona
            afectada.
        </p>
        <p>Estas medidas permiten mantener al accidentado resguardado de
            manera estable, hasta recibir una atención médica profesional adecuada a su situación.</p>
        <h2 id="deberes-conductor">Deberes del conductor</h2>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Dz6nk4SuuR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>Al conducir un vehículo estamos sujetos a una serie de deberes, cuya violación implica un incumplimiento, una transgresión a la normativa vigente. Entre ellos podemos mencionar los siguientes: </p>
        <p>El incumplimiento de alguno de estos deberes generará responsabilidad por el siniestro que pudiera producir. Por lo tanto, es obligatorio
            para el conductor y/o la compañía aseguradora que se contrate, reparar el daño que se haya causado. </p>
        <p>La ley presume la responsabilidad del conductor que carecía de prioridad de paso o cometió una infracción relacionada con la causa del
            accidente; en tanto el peatón goza del beneficio de la duda y presunciones a su favor mientras no incurra en graves violaciones a las normas de tránsito (Ley Nº 24.449). </p>
        <p>En el supuesto de un siniestro ocasionado por menores de 18 años,
            la responsabilidad administrativa y/o civil es transferible a los padres,
            y/o a su tutor. En el caso de la responsabilidad penal ésta es personal
            e intransferible. </p>
        <p>A continuación, se enumeran las diferentes características de nuestras acciones, por las que comúnmente se considera que un conductor es responsable de un siniestro vial. </p>
        <h2 id="caracteristicas-del-obrar">Características del obrar</h2>

        <p>
            <b>IMPRODUCENCIA</b>: es el actuar con peligro, es decir aquel que realiza un
            acto que las reglas de la prudencia indican no hacerlo. <br>
            <b>IMPERICIA</b>: es no actuar en forma adecuada ante una situación determinada, por desconocimiento y falta de práctica en la conducción
            del vehículo. <br>
            <b>NEGLIGENCIA</b>: es la ausencia de precaución, omisión, descuido voluntario y conciente en la conducción del vehículo, realizando un acto
            contrario al que exige la normativa vigente.
        </p>
        <h2 id="responsabilidades-del-conductor">Responsabilidades del conductor</h2>
        <p>
            La responsabilidad jurídica se presenta cuando una persona incumple
            un deber de conducta que ha sido señalada previamente por una
            norma jurídica. <br>
            Si como conductores transgredimos una norma de tránsito debemos
            responder por las consecuencias que ello genera y que están determinadas por las normas vigentes. Así, surgirán responsabilidades penales, civiles y contravencionales.
        </p>
        <img src="./img/reglas-de-transito/reglas-de-transito-3.png" alt="Responsabilidad Civil en Siniestros de Tránsito">
        <h2 id="responsabilidad-penal">Responsabilidad penal y contravencional</h2>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/1sx5MdO2fpM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h3>Responsabilidad penal</h3>
        <p>Este tipo de responsabilidad se configura cuando se comete un delito
            de los enumerados en el Código Penal. Los delitos más comunes relacionados con la conducción son: lesiones leves, lesiones graves, lesiones gravísimas, abandono de personas, homicidios dolosos,
            culposos y/o con dolo eventual. </p>
        <h3>Responsabilidad contravencional</h3>
        <p>
            Este tipo de responsabilidad se configura cuando se comete una contravención local. Actúa la justicia de faltas de cada jurisdicción. Los
            mayores de 14 años son responsables.
        </p>
        <h2 id="regimen-de-sanciones">Regimen de sanciones</h2>
        <p>Las sanciones por infracciones a la ley son de cumplimiento efectivo,
            es decir no pueden ser aplicadas con carácter condicional, ni en suspenso, y consisten en:
            a) Arresto
            b) Inhabilitación
            c) Multa
            d) Concurrencia a cursos especiales de educación y capacitación para
            el correcto uso de la vía pública
            e) Decomiso</p>
        <h2 id="arresto">Arresto</h2>
        <p>
            La sanción en cuestión sólo procede cuando existe un alto riesgo, producto de la falta de responsabilidad como así también de la falta de
            conciencia por parte de quien incurre en una infracción. <br>
            El arresto procede:
        </p>
        <ul>
            <li> Por conducir en estado de intoxicación alcohólica o por estupefacientes.</li>
            <li>Por conducir automotor sin habilitación. </li>
            <li>Por conducir estando inhabilitado o con la habilitación suspendida</li>
            <li>Por realizar en la vía pública destrezas no autorizadas (participar en picadas). </li>
            <li>Por ingresar a una encrucijada, con semáforo de luz roja a partir de la tercera reincidencia. </li>
            <li>Por cruzar las vías del tren sin tener espacio expedito</li>
            <li>Por pretender fugar en caso de haber participado de un accidente. </li>
        </ul>
        <h2 id="inhabilitacion">Inhabilitacion</h2>
        <p>
            Es la imposibilidad de conducir cualquier tipo de vehículo por un tiempo determinado o indeterminado según la falta cometida cuando una sentencia firme emanada de una autoridad competente así lo determina. <br> Causas de inhabilitación:
        </p>
        <ul>
            <li>Pérdida total de puntos</li>
            <li>Comisión de faltas graves (reincidencia).</li>
            <li>Causas médicas.</li>
        </ul>
        <h2 id="multa">Multa</h2>
        <p>
            Sanción económica que se impone a los responsables de infracciones. <br>
            <b>Concurrencia obligatoria a cursos especiales de educación y capacitación.</b> <br>
            Este tipo de sanción tiene por objeto potenciar la educación vial e incidir culturalmente en la disminución de transgresiones a la normativa vigente. El Estado, de esta manera, busca concientizar a los ciudadanos, involucrándolos en un papel activo, y tratando de comprometerlos con la seguridad vial. 
        </p>
        <h2 id="decomiso">Decomiso</h2>
        <p>
            Es una sanción accesoria a otra principal que importa la pérdida de los instrumentos o elementos expresamente prohibido por la ley (reflectores, sirenas, escapes libres). 
        </p>
        <img src="./img/reglas-de-transito/reglas-de-transito-4.png" alt="Decomiso">
      </article>
    </section>
  </div>

<%- include('partials/footer.ejs') %>