<%- include('partials/head.ejs')%>

<div class="box">
    <section>
      <div class="table-of-contents" id="tabla">
        <h2>Tabla de Contenidos</h2>
        <nav class="site-nav">
          <a href="#main">Seguridad en Vehiculo</a>
          <a href="#seguridad_activa">Seguridad Activa</a>
          <a href="#sistema_de_suspension">Sistema de Suspensión</a>
          <a href="#sistema_de_frenos">Sistema de Frenos</a>
          <a href="#sistema_de_direccion">Sistema de Dirección</a>
          <a href="#neumaticos">Neumáticos</a>
        </nav>
        
      </div>
    </section>
    <section class="content">
      <article>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/1nZUfUivN5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2 id="seguridad">Seguridad en Vehiculo</h2>
        <p>El avance de la tecnología ha posibilitado el desarrollo de sistemas de seguridad que, por un lado, hacen más confortable la circulación en un vehículo y, por el otro, nos protegen ante la posibilidad de un siniestro vial.</p>
        <h2 id="seguridad_activa">Seguridad Activa</h2>
        <p>La Seguridad Activa está orientada a evitar al máximo los siniestros viales y comprende todas las soluciones que garanticen una frenada estable y potente, buenas recuperaciones y un comportamiento previsible que nos permita superar las posibles situaciones críticas. La suspensión sirve para dar comodidad al vehículo, disminuyendo la transmisión de irregularidades del terreno al habitáculo y favoreciendo el agarre del automóvil al suelo y, por lo tanto, su estabilidad. Los mecanismos de la suspensión que proporcionan seguridad y confort durante la conducción, aportando estabilidad al vehículo, se denominan amortiguadores.</p>
        <p class="breakPoint">La forma que poseen estos mecanismos de absorber las irregularidades del terreno se clasifica en</p>
        <ul>
          <li>Mecanica: Los desplazamientos de las ruedas son absorbidos por los resortes o espirales</li>
          <li>Hidraulica: Los conjuntos hidráulicos soportan los desplazamientos de las ruedas</li>
          <li>Hidroneumática: Se trata de la accion combinada de un líquido y un gas, para soportar los desplazamientos de las ruedas</li>
        </ul>
        <img src="./img/seguridad-en-vehiculo/seguridad-en-vehiculo-1.png" alt="">
        <h2 id="sistema_de_suspension">a) Sistemas de Suspensión</h2>
        <p>
          La suspensión sirve para dar comodidad al vehículo, disminuyendo la transmisión de irregularidades del terreno al habitáculo y favoreciendo el agarre del automóvil al suelo y, por lo tanto, su estabilidad. Los mecanismos de la suspensión que proporcionan seguridad y confort durante la conducción, aportando estabilidad al vehículo, se denominan amortiguadores.
        </p>
        <h2 id="sistema_de_frenos">b) Sistema de frenos</h2>
          <p>
            Los sistemas de accionamiento de frenos más empleados en automóviles de uso particular son el mecánico y el hidráulico. Los frenos pueden ser de tambor o de disco, aunque algunos fabricantes combinan ambos montando los frenos de disco en las ruedas delanteras y los de tambor en las traseras.
          </p>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X9pQeKAP0KI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

        <h2>ABS (Sistema Antibloqueo de Ruedas)</h2>
          <p>El freno ABS es un sistema que nos permite lo siguiente: </p>
          <p>
            El ABS nos permite <br> · Controlar y maniobrar el automóvil durante el frenado, incluso en curva.
          </p>
          <p>
            En el uso cotidiano del automóvil, se acostumbra a pisar el freno teniendo en cuenta la disminución de velocidad que se quiere conseguir.
          </p>
          <p>
            Al conducir por una vía en malas condiciones o con neumáticos que no se encuentran en el estado adecuado, es necesario mantener mayores precauciones.
          </p>
          <p>
            ¿Qué puede ocurrir si nos encontramos frente a situaciones no esperadas como pueden ser una frenada de emergencia o mala adherencia del neumático? Difícilmente se pueda controlar el vehículo con las ruedas bloqueadas, el consiguiente alargamiento de la frenada y la posible pérdida de maniobra. Esto puede ocurrir porque las ruedas patinan durante la frenada, y el neumático no puede controlar las fuerzas que actúan sobre él.
          </p>
          <h2 id="sistema_de_direccion">c) Sistema de Dirección</h2>
          <p>
            La dirección orienta las ruedas a voluntad del conductor, con precisión y suavidad, e influye directamente en la estabilidad del vehículo.
          </p>
          <p>
            Si la dirección es asistida, el esfuerzo sobre el volante se reduce considerablemente a través de un sistema hidráulico que realiza la mayor parte del trabajo necesario para girar la dirección.
          </p>
          <p>
            Los sistemas de dirección servoasistida permiten hacer menos esfuerzos en el volante a la hora de maniobrar el auto parado y mantener una dirección correcta cuando circulamos a altas velocidades.
          </p>
          <p>
            También, estos sistemas de dirección pretenden asegurar un perfecto control del vehículo incluso en condiciones límite .
          </p>
          <p>Las presiones de trabajo del sistema hidráulico se taran para que quienes se sienten al volante, perciban constantemente un alto grado de adherencia de los neumáticos con la carretera, permitiendo, de esta manera, un grado de seguridad muy alto.</p>
        <h2 id="neumaticos">d) Neumaticos</h2>
        <p>
            Los neumáticos, como elementos básicos en la seguridad activa de los automóviles, deben desarrollar y garantizar las máximas prestaciones posibles. Las ruedas son el último eslabón de transmisión de movimiento en el vehículo y su punto de apoyo en el suelo.
            Su estado influye sobre el comportamiento del automóvil.
        </p>
        <p>Los neumáticos deben: </p>
        <ul>
            <li> Soportar el peso del auto y resistir las transferencias de carga en aceleración y en frenada.
            </li>
            <li> Transmitir la potencia útil del motor y los esfuerzos de frenada en curva.
            </li>
            <li> Rodar regularmente de forma segura y el mayor tiempo.
            </li>
            <li> Guiar el auto con precisión, por cualquier tipo de suelo y condición climática.
            </li>
            <li> Actuar como colchón amortiguador de las irregularidades de la carretera, asegurando el confort del conductor y de los pasajeros.
            </li>
            <li> Participar en tres aspectos fundamentales: estabilidad, suspensión y frenada.</li>
        </ul>
      </article>
    </section>
  </div>

<%- include('partials/footer.ejs') %>