<footer> 
    <div class="footer">   
      <div class="logo-footer">
        <img src="./img/Logo.svg" alt="Logotipo del Sitio web">
      </div>   
      <nav class="footer-nav">
        <a href="./sobre-nosotros">Acerca de este sitio</a>
        <a href="./descargas">Descargas</a>
      </nav>
    </div>
  </footer>

<script src="./js/scripts.js"></script>
</body>
</html>